{% load static %}

    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">

          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h6 class="footer-logo"><img src="{% static 'img/simbolo.png' %}" alt=""></h6>
                <div class="textwidget">
                  <p>Nunca é tarde demais para ser aquilo que sempre desejou ser.</p>
                </div>
                <!--
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
                -->
              </div>
            </div>
             <!--

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Produtos</h3>
              <ul class="footer-link">
                <li><a href="#">Monitoramento</a></li>
                <li><a href="#">Aplicativos</a></li>
                <li><a href="#">Planejamento de Recursos</a></li>
                <li><a href="#">Empreendorismo</a></li>
                <li><a href="#">Gestão de Funcionários</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Recursos</h3>
              <ul class="footer-link">
                <li><a href="#">Opções de Pagamento</a></li>
                <li><a href="#">Tabela de Taxas</a></li>
                <li><a href="#">Vamos Começar</a></li>
                <li><a href="#">Verificação de Identidade</a></li>
                <li><a href="#">Cartão de Verificação</a></li>
              </ul>
            </div>
            -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <!--<a href="#"><i class="lni-map-marker"></i> Av. Jorge Amado, 1565 - <br> Aracaju-SE</a>-->
                  <p> Av. Jorge Amado, 1565 - <br> Aracaju-SE</p>
                </li>
                <li>
                  <!--<a href="#"><i class="lni-phone-handset"></i> +55 79 3085 9590</a>-->
                  <p> +55 79 3085 9590 </p>
                </li>
                <li>
                  <!--<a href="#"><i class="lni-phone-handset"></i> +55 79 3085 9590</a>-->
                  <p> +55 79 9 9997 1812 </p>
                </li>
                <li>
                  <!--<a href="#"><i class="lni-envelope"></i> aecia@hotmail.com</a>-->
                  <p> aecia@hotmail.com </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <!--<p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>